<!DOCTYPE html>
<html id="app" manifest="cache.appcache">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>IPA Keyboard</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Voces&subset=latin,latin-ext" />
	<link rel="stylesheet" type="text/css" href="frontend/styles/app.css" />
</head>
<body class="preload" v-bind:class="{'no-sidebar' : hide_sidebar}">

<div id="main">
	<header>
		<h1>
			<i class="fa fa-fw fa-keyboard-o"></i>
			<strong v-text="lang._title">IPA Keyboard</strong>. <span v-text="lang._tagline">International Phonetic Alphabet Symbols.</span>
		</h1>
		<p class="hamburguer-icon"><a href="#sidebar" title="Sidebar Display Switcher" v-on:click.prevent="toogle_sidebar()"><span>&#x2261;</span></a></p>
	</header>

	<section>

<!--		<textarea id="data-input" rows="1" cols="5"-->
<!--				  v-model="input"-->
<!--				  @keyup="onKeyUp"-->
<!--				  @keypress="onKeyPress"-->
<!--				  @keydown="onKeyDown"-->
<!--				  placeholder=""-->
<!--				  autocomplete="off"-->
<!--				  autocorrect="off"-->
<!--				  autocapitalize="off"-->
<!--				  spellcheck="false"></textarea>-->
<!--		<br>-->
<!--		<textarea id="data-input2" rows="1" cols="5"-->
<!--				  v-model="input2"-->
<!--				  @keyup="onKeyUp"-->
<!--				  @keypress="onKeyPress"-->
<!--				  @keydown="onKeyDown"-->
<!--				  placeholder=""-->
<!--				  autocomplete="off"-->
<!--				  autocorrect="off"-->
<!--				  autocapitalize="off"-->
<!--				  spellcheck="false"></textarea>-->
		<div id="app-container"></div>

<!--		<div v-if="helper_chars.length" transition="dissolve" id="helper" v-bind:style="{ top: helper_coordinates.top + 'px', left: helper_coordinates.left + 'px' }">-->
<!--			<dl>-->
<!--				<dt v-html="lang._helper_desc">Press tab &#8677; to cycle through</dt>-->
<!--				<dd>-->
<!--					<template v-for="c in helper_chars">-->
<!--						<button-->
<!--							@click="replaceChar(c)"-->
<!--							:class="helper_chars[helper_chars_current] == c ? 'current' : ''">-->
<!--							{{ c }}-->
<!--						</button>-->
<!--					</template>-->
<!--				</dd>-->
<!--			</dl>-->
<!--		</div>-->
	</section>

</div>

<div id="sidebar">
	<aside>
		<h3 v-on:click.prevent="toogle_sidebar()" v-text="lang._options_menu">Options Menu</h3>

		<dl v-bind:class="aside_menu_keys_open ? 'aside-dl-open' : aside-dl-close">
			<dt @click="toggle_menu_keys()"><dfn><span v-text="app_state.default_lang._current_keys">Current Key Bindings</span> ( <strong>{{ current_keymap | beautify }}</strong> )</dfn></dt>
			<dd>
				<ul id="characters-mapped">
					<li v-for="k in keymap">
						<button @click="addChar($key)" class="char-trigger">{{ $key }}</button>
						<template v-for="i in k"><button @click="addChar(i)" class="char-item">{{ i }}</button></template>
					</li>
				</ul>
			</dd>
		</dl>

	</aside>
</div>

<!-- build:js frontend/scripts/app.min.js -->
<script type="text/javascript" src="frontend/scripts/textarea-caret-position.js"></script>
<script type="text/javascript" src="frontend/scripts/mousetrap-1.5.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script type="text/javascript" src="frontend/scripts/app.js"></script>
<!-- endbuild -->

</body>
</html>
